[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/heather-hugo"]
	path = themes/heather-hugo
	url = https://github.com/hbpasti/heather-hugo
